body {
  padding-top: 40px;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}
p {
  font-size: 15px;
}
.navbar {
  background-color: #85c5c6;
  height: 50px;
}
.nav-links {
  padding-top: 10px;
  margin-left: 17%;
}
.nav-links li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 24px 0px 14px 30px;
}
.navbar-toggle {
  border: #85c5c6;
}
.navbar-collapse {
  border-top: #85c5c6;
}
.navbar-inverse {
  border: #85c5c6;
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    width: 30%;
    float: right;
    background-color: #85c5c6;
    margin: 0px -15px;
  }
}
.navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 20px;
}
.header {
  text-align: center;
}
.header h1 {
  padding-bottom: -10px;
}
.content-container {
  width: 100%;
}
.content-name {
  margin-left: 20%;
  margin-right: 20%;
}
.content-box {
  height: 40px;
  border-top: 4px solid #85c5c6;
  border-bottom: 4px solid #85c5c6;
  text-align: center;
}
.content-box p {
  font-size: 25px;
}
.content-layout {
  display: inline;
}
.para-box {
  padding-bottom: 20px;
}
.paragraph {
  height: auto;
  padding-bottom: 30px;
  padding-top: 20px;
}
.clear {
  clear: both;
}
.line-para1 {
  padding-bottom: 5px;
}
.line-para2 {
  padding-bottom: 30px;
}
.rp1 {
  text-indent: 45px;
  font-weight: bold;
  font-size: 18px;
}
.rp2 {
  text-indent: 55px;
  font-style: italic;
  color: #85c5c6;
}
.rp3 {
  text-indent: 55px;
}
.edu-list {
  padding-bottom: 25px;
  padding-top: 20px;
}
.contact-box {
  height: 400px;
  width: 500px;
  background-color: #85c5c6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-form {
  color: white;
  font-size: 15px;
  padding-top: 10%;
  padding-left: 14%;
}
.form-line {
  width: 350px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 17px;
  margin-bottom: 10px;
}
textarea {
  background-color: white;
  margin-top: 5px;
  width: 350px;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
}
.send-button {
  background-color: white;
  margin-top: 5px;
  width: 350px;
  height: 37px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #85c5c6;
  font-weight: bold;
  font-size: 18px;
}
.footer {
  height: 60px;
  border-top: 4px solid #85c5c6;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.footer a:hover {
  color: #4c0099;
  text-decoration: none;
}
.footer-links li {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  color: #85c5c6;
  padding: 14px 0px 0px 14px;
}
.footer-links a {
  color: #85c5c6;
  font-size: 17px;
}
.footer-links p {
  font-size: 17px;
  color: #85c5c6;
}
